@tailwind base;
@tailwind components;
@tailwind utilities;

/* ImageGalleryCSS */

.relative {
  position: relative; 
}

.group {
  position: relative; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.813); 
  color:#f56565;
  opacity: 0; 
  transition: opacity 300ms ease-in-out; 
  z-index: 10; 
}

.group:hover .overlay {
  opacity: 1; 
  cursor: pointer;
}

.overlay-text {
  font-size: 1.25rem; 
  font-weight: 400; 
  text-align: center;
  padding: 0 1rem; 
}

.input:active {
    border-color: #f87171; /* Tailwind's red-500 color */
  }